<% if notice %>
<div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>
<% if alert %>
<div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>

<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>