<h1>Hablemos</h1>

<body>
    <ul>
        <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
        <li><a href="https://github.com/helmutcardenas" target="_blank"><i class="fa-brands fa-square-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/helmut-c%C3%A1rdenas-3a8bb9245/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://wa.me/56931450940?text=Hola+¿como+estás?" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></a></li>
    </ul>
</body>