<h1>Bienvenidos</h1>
<br>
<h2>
Hi, I´m Helmut, Web Developer.
</h2>

<div class="contenedor">
        <figure>
            <%= image_tag 'mockup5.jpg' %>
            <div class="capa">
                <h3><strong>Proyect 01</strong></h3>
                <br>
                <p><strong> LICITALO.CL es una plataforma donde personas como tu o como yo que buscan algun producto se contacten con proveedores que te pueden ofrecer sus precios y TÚ podrás elegir el precio que mas te conviene. Si necesitas un servicio también puedes cotizar por LICITALO.CL, los prestadores de servicios atenderán tu requerimiento entregando un valor que tú decidiras aceptar o rechazar.</strong></p>
            </div>
        </figure>
    </div>
