/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
    margin: 0px;
    /*margin-left: 25px;*/ 
    padding-top: 0px;
    background-color: #323240;
}

body{
    color: #323240;
}

.be-red{
    background-color: #DCF235;
    margin-left: 0px;
}

.white{
    color: #323240;
}

.large-padding{
    padding: 15px 10px;
}

nav{
    padding: 15px 10px;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    text-decoration: none;
}

h1{
    font-family: 'Space Mono', monospace;
    margin-left: 20px;
    color: whitesmoke;
    text-align: center;
}

a:visited{
    color: inherit; /*para que los link mantengan su color */
}

div{
    margin-left: 100xp;
    padding: 15px 10px;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    text-decoration: none;
}

.submit{
    width: 100%;
    background: #DCF235;
    border: none;
    padding: 12px;
    color: #323240;
    margin: 16px 0;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
}

p{
    font-size: 16px;
    font-family: 'Space Mono', monospace;
}

a{
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    border: #DCF235;
    text-decoration: none;
    padding: 5px;
    /*margin-left: 25px;*/
    margin-top: 15px;
    /*text-align: justify; */
}


._navbar{
    size: 10px;
    padding-left: 15px;
}

h2{
    margin-left: 25px;
    font-family: 'Space Mono', monospace;
}

footer{
    background-color: #DCF235;
    width: 100%;
    align-items: center;
}